@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 60 60 60	;
	}
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 255, 255, 255;
	--background-end-rgb: 255, 255, 255;
}

body {
	color: black;
	background: rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.win10-thumb {
	font-size: 1.5rem;
	color: #fff;

	--track-height: 0.125em;
	--track-color: rgba(255, 255, 255, 0.3);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--thumb-height: 1.375em;
	--thumb-width: 0.5em;
	--clip-edges: 0.0125em;
	position: relative;
	background: #fff0;
	overflow: hidden;
}

/* === range commons === */

.win10-thumb:active {
	cursor: grabbing;
}

.win10-thumb:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

.win10-thumb,
.win10-thumb::-webkit-slider-runnable-track,
.win10-thumb::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

.win10-thumb::-webkit-slider-runnable-track,
.win10-thumb::-webkit-slider-thumb {
	position: relative;
}

.win10-thumb::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(100% -1px,
			var(--clip-edges) -1px,
			0 var(--clip-top),
			-100vmax var(--clip-top),
			-100vmax var(--clip-bottom),
			0 var(--clip-bottom),
			var(--clip-edges) 100%,
			var(--clip-further) var(--clip-further));
}

.win10-thumb:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

.win10-thumb:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

.win10-thumb::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

.win10-thumb:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}

/* === Firefox specific styles === */
.win10-thumb,
.win10-thumb::-moz-range-track,
.win10-thumb::-moz-range-thumb {
	appearance: none;
	transition: all ease 300ms;
	height: var(--thumb-height);
}

.win10-thumb::-moz-range-track,
.win10-thumb::-moz-range-thumb,
.win10-thumb::-moz-range-progress {
	background: #fff0;
}

.win10-thumb::-moz-range-thumb {
	background: currentColor;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
	cursor: grab;
}

.win10-thumb:active::-moz-range-thumb {
	cursor: grabbing;
}

.win10-thumb::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

.win10-thumb::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition: all ease 300ms;
}

.win10-thumb::-moz-range-track,
.win10-thumb::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
}

.win10-thumb::-moz-range-thumb,
.win10-thumb::-moz-range-progress {
	filter: brightness(100%);
}

.win10-thumb:hover::-moz-range-thumb,
.win10-thumb:hover::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
}

.win10-thumb:active::-moz-range-thumb,
.win10-thumb:active::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}

.win10-thumb:disabled::-moz-range-thumb {
	cursor: not-allowed;
}


/* RESULT SLIDER */
.result-slider {
	-webkit-appearance: none;
	/* Remove default styling for WebKit browsers */
	appearance: none;
	/* Full width */
	height: 25px;
	/* Height of the track */
	background: linear-gradient(to right, #f87171 30%, #facc15 45%, #4ade80 100%);
	/* Track color */
	border-radius: 50px;
	/* Rounded track */
	outline: none;
	/* Remove outline */
}
.result-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	/* Remove default styling for the thumb */
	appearance: none;
	/* Remove default styling for other browsers */
	width: 60px;
	/* Thumb width */
	height: 60px;
	/* Thumb height */
	background: white;
	/*Thumb color*/
	border-radius: 100%;
	/* Make thumb circular */
	cursor: pointer;
	/* Cursor on hover */
	z-index: 20;
	border: 4px solid transparent;
}
.result-slider::-moz-range-thumb {
	width: 60px;
	/* Thumb width */
	height: 60px;
	/* Thumb height */
	background: white;
	/* Thumb color */
	border-radius: 100%;
	/* Make thumb circular */
	cursor: pointer;
	/* Cursor on hover */
}

/* RESULT AUDIO-VIDEO SLIDER */
.result-seperate-slider {
	-webkit-appearance: none;
	appearance: none;
	height: 10px;
	background: linear-gradient(to right, #f87171 30%, #facc15 45%, #4ade80 100%);
	border-radius: 50px;
	outline: none;
}
.result-seperate-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 0;
	height: 0;
	cursor: pointer;
	/* TRAINGLE  */
	border-top: 0px solid transparent;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 17px solid black;
	position: relative;
	top: 8px;
}

/* ...................MOZ............... */
.result-seperate-slider::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-color: rgba(255, 255, 255, 0);
	width: 0px;
	height: 0px;
	cursor: pointer; 
	/* TRAINGLE  */
	border-top: 0px solid transparent;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 17px solid black;
	border-radius: 100%;
	padding-top: 14px;
}


/* SKELETON CSS */
.skeleton-h {
	background: linear-gradient(90deg, #ddd, #bcd, #ddd);
	animation: leftToRight 1.5s infinite reverse;
	background-size: 200%;
}

.skeleton-l {
	background: linear-gradient(90deg, #eee, #ebebeb, #eee);
	animation: leftToRight 1.5s infinite reverse;
	background-size: 200%;
}

@keyframes leftToRight {
	0% {
		background-position: -100% 0;
	}

	100% {
		background-position: 100% 0;
	}
}